.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.button--secondary {
  transition: all 0.3s ease !important;
  transform: scale(1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button--secondary:hover {
  transform: scale(1.05) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* Pop-up effect on hover */
  animation: popUp 0.3s forwards;
}

@keyframes popUp {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}